# Propietario por defecto de TODO el repositorio
* @clramos314

# (Opcional) Reglas más específicas de ejemplo:
# /Workbook_EJB/ @clramos314
# /Workbook_Web/ @clramos314
# /pom.xml      @clramos314
# /README.md    @clramos314
